cryptography
requests
Flask
fastapi
PyMySQL
PyYAML
hvac
langchain
langchain-community
langchain-huggingface
chromadb
mesop
scapy
pywinrm
paramiko
autogen
IPython
autogen-agentchat[gemini]~=0.2
autogen-agentchat[retrievechat]~=0.2
flaml[automl]
langchain_openai
ag2[openai]
sentence-transformers
transformers
psycopg2
loguru
vertexai
langchain_google_vertexai
python-multipart
unstructured
pydantic[email]
redis
PyJWT
python-decouple
icecream